{%extends 'base.html' %}
{%block body%}
<h1 class='text-center mt-5'>게시판</h1>
<a class="btn btn-secondary" href='/posts/new' role="button">게시글 작성</a>
<hr>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">제목</th>
          <th scope="col">글 보기</th>
          </tr>
      </thead>
      <tbody>
{% for post in posts %}
        <tr>
          <th scope="row">{{post.id}}</th>
          <td>{{post.title}}</td>
          <td><a href='/posts/{{post.id}}'>글 보러가기</a></td>
        </tr>
{% endfor %}
        
      </tbody>
    </table>
{% endblock %}